@import '../../node_modules/normalize.css/normalize.css';
@import './font-awesome/css/font-awesome.min.css';

$color-bg: #5372ef;
$color-light: #fff;
$color-text: #010c39;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $color-bg;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-game-over {
  position: absolute;
  top: 15px;
  right: 10px;
  color: $color-light;
  transition: all 0.2s ease-in-out;
}

.btn-game-over:hover {
  transform: scale(1.2);
}

.wrapper100vh {
  height: 100vh;
}

.container__btn-again {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.container-div {
  background: $color-light;
  max-width: 95%;
  min-height: 500px;
  margin: 20px 0;
  padding: 2em 0.5em 1.5em;
  border-radius: 0.8rem;
  transition: all 0.6s ease-in-out;
}

.container-div-win {
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: $color-text;
}

.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 2em;
}

.draggable-image {
  display: flex;
  justify-content: center;
  margin: 0 5px;
  align-items: center;
  width: 10em;
  height: 9em;
  cursor: grab;
  overflow: visible;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}

.flag-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px;
}

img {
  width: 100%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
}

.countries {
  width: 10em;
  height: 6em;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.15em dashed $color-bg;
  border-radius: 0.8em;
  transition: all 0.2s ease-in-out;
}

.over {
  background-color: rgba(16, 218, 215, 0.125);
  width: 11em;
  height: 6.7em;
}

.error {
  background-color: rgba(218, 16, 16, 0.125);
}

.dropped {
  width: 10em;
  height: 6.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  border: none;
  // background-color: #e5ffc8;
}

.name-country {
  max-width: 150px;
  text-align: center;
  margin-top: 20px;
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $color-bg;
  flex-direction: column;
  top: 0;
}

.controls-container button {
  font-size: 1.12em;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  color: $color-text;
  cursor: pointer;
}

.controls-container p {
  color: $color-light;
  font-size: 2em;
  margin-bottom: 1em;
}

.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
  width: 64px;
  height: 64px;
  stroke: $color-light;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
  fill: none;
  stroke-width: 1px;
}
@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.input-container {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px 40px;
  border-radius: 15px;
  background: $color-light;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-label {
  font-size: 1.5em;
}

.count-flags {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.hide {
  display: none;
}
