@import '../../node_modules/normalize.css/normalize.css';

$color-bg: #5372ef;
$color-light: #fff;
$color-text: #010c39;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $color-bg;
}

.container {
  background: $color-light;
  max-width: 90%;
  padding: 3em 0.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.8rem;
}

.title {
  text-align: center;
  width: 60%;
  margin: 0 auto 2em auto;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: $color-text;
}

.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.draggable-image {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  align-items: center;
  width: 10em;
  height: 8em;
  cursor: pointer;
}

.draggable-image:not(:last-child) {
  margin-right: 15px;
}

img {
  width: 100%;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

.countries {
  width: 10em;
  height: 8em;
  display: grid;
  place-items: center;
  text-align: center;
  border: 0.15em dashed $color-bg;
  border-radius: 0.8em;
}

.dropped {
  padding: 0;
  overflow: hidden;
  background-color: #e5ffc8;
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $color-bg;
  flex-direction: column;
  top: 0;
}

.controls-container button {
  font-size: 1.12em;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  color: $color-text;
  cursor: pointer;
}

.controls-container p {
  color: $color-light;
  font-size: 2em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
  width: 64px;
  height: 64px;
  stroke: $color-bg;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
  fill: none;
  stroke-width: 1px;
}
@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
